---
category: components
---

  

  

  
<div class="row center">
  <div class="col-1of2">
    <p> We are a four-piece Chicago, IL Band touching Rock, Hip-hop, Pop, and Blues.  Seeking good vibes and fun times. We want to be the soundtrack to your 2016 summer! </p>
    <p>We also want your next gig. </p>
  </div>
</div> 

<div class="row center">
  <div class="col-1of2">
    contact: <a href="https://www.facebook.com/thebrokenarrowcomplex/">facebook</a> / 
    <a href="mailto:kylemattimore@gmail.com">email</a> /
    
    <a href="tel:+17349560456">phone</a> / 
      
    <a href="https://www.youtube.com/watch?v=McBUIrvRRp0" target="_blank">whatever </a>
  </div>
</div>
  